<div class="bodys" id="bodysver">
  <form method='POST' action="/product/add">
    <div class="form-group">
      <label for="usr">Product Name:</label>
      <input type="text" name="name" class="form-control" >
    </div>

    <div class="form-group">
      <label for="usr">Type:</label>
      <input type="text" name="type" class="form-control" >
    </div>

    <div class="form-group">
    <label for="comment">Description</label>
    <textarea class="form-control" name="description" rows="3" > </textarea>
    </div>

    <div class="form-group">
      <label for="usr">Brand:</label>
      <input type="text" name="brand" class="form-control">
    </div>

    <div class="form-group">
      <label for="usr">Price:</label>
      <input type="text" name="price" class="form-control" >
    </div>

    <div class="form-group">
      <label for="usr">Images:</label>
      <input type="text" name="images" class="form-control" >
    </div>

    <button type="submit" class="btn btn-default">Add Product</button>
  </form>

</div>
