<form method="POST" action="/categories">
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-2">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title"><b>Create Category</b> </h3>
			 			</div>
			 			<div class="panel-body">

			    			<div class="form-group">
			    				<input name="categoryname" class="form-control input-md" placeholder="Enter Category">
			    			</div>
			    			<input type="submit" value="Submit" class="btn btn-info btn-block">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div></form>
<br>
    <style>
    body{
  background-color: #525252;
}
.centered-form{
margin-top: 60px;
}

.centered-form .panel{
background: rgba(255, 255, 255, 0.8);
box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
    </style>
