<form method="POST" action="/">
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-2">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title"><b>Add Product</b> </h3>
			 			</div>
            <div class="panel-body">

			    			<div class="form-group">
                  <label for="usr">Name:</label>
                  <input type="text" name="productname" class="form-control" placeholder="Enter Product Name">
                </div>


                <div class="form-group">
                <label for="comment">Description</label>
                <textarea class="form-control" name="productdescription" rows="3" > </textarea>
                </div>

                <div class="form-group">
                  <label for="usr">Tagline:</label>
                  <input type="text" name="tagline" class="form-control" placeholder="Enter Tagline">
                </div>

                <div class="form-group">
                  <label for="usr">Price:</label>
                  <input type="text" name="price" class="form-control" placeholder="Enter price">
                </div>

                <div class="form-group">
                  <label for="usr">Warranty:</label>
                  <input type="text" name="warranty" class="form-control" placeholder="Enter Warranty in years (eg.1)">
                </div>

                <div class="form-group">
                  <label for="usr">Images:</label>
                  <input type="text" name="images" class="form-control" placeholder="Enter image link or /images/<filename.jpg>" >
                </div>


                <div class="form-group">
                  <label class="control-label" for="category_id">Product Category:</label>
            					<div class="text-center">
            						<select name="category_id" class="form-control" required="" size="1">
            							<option value=""></option>
            						{{#each catdata}}
            						 	<option value="{{this.id}}">{{this.name}}</option>
            						 {{/each}}
            						</select>
            					</div>
                </div>

                <div class="form-group">
            					<label class="control-label" for="brand_id">Brand:</label>
            					<div class="text-center">
            						<select name="brand_id" class="form-control" required="" size="1">
            							<option value=''></option>
            						{{#each branddata}}
            						 	<option value='{{this.id}}'>{{this.name}}</option>

            						 {{/each}}
            						</select>
            					</div>
            				</div>


                <button type="submit" class="btn btn-default">Add Product</button>
              </form>

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div></form>
    <br>

    <style>
    body{
  background-color: #525252;
}
.centered-form{
margin-top: 30px;
}
.centered-form .panel{
background: rgba(255, 255, 255, 0.8);
box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
    </style>
